{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h1>Editar Perfil</h1>
  <div class="row">
    <div class="col-md-8">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
        <div class="form-group">
          <a href="{% url 'mudar_senha' %}" class="btn btn-secondary">Alterar senha</a>
        </div>
      </form>
    </div>
  </div>


<script>

    //Populates the cities field with cities from the selected state
    $(document).ready(function() {
    $('#id_estado').on('change', function() {
        let regionId = $(this).val();
        console.log(regionId);
        if (regionId) {
            $.ajax({
                url: `{% url 'get_cities' 0 %}`.replace('0', regionId),
                success: function(data) {
                    $('#id_cidade').html(optionsForSelect(data));
                    $('#id_cidade').prop('disabled', false);
                }
            });
        } else {
            $('#id_cidade').html('<option value="">Cidade</option>');
            $('#id_cidade').prop('disabled', true);
        }
    });

    function optionsForSelect(data) {
        let options = '<option value="">Select</option>';
        for (let i = 0; i < data.length; i++) {
            options += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
        }
        return options;
    }
    });


//Auto completes the birthday field with /
    $(document).ready(function () {
        $('#id_nascimento').on('input', function () {
            const input = $(this);
            const value = input.val();
            if (/^\d{2}$/.test(value)) {
                input.val(value + '/');
            } else if (/^\d{2}\/\d{2}$/.test(value)) {
                input.val(value + '/');
            }
        });
    });    

  </script>
{% endblock %}
